body {
    transition: background-color 800ms cubic-bezier(.25,.46,.45,.94);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#hero {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.dark-mode {
    background-color: #90aeb6;
    color: #ffffff;
}
