body {
    transition: background-color 800ms cubic-bezier(.25,.46,.45,.94);
}

#hero {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url("./bg.jpg");
}
.dark-mode {
    background-color: #171e22;
    color: #ffffff;
}
